<table class ="table">

    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Daily Price</th>
        <th>Description</th>
        <th>Model Year</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carDetail of carDetails">
      <td>{{carDetail.carId}}</td>
    
      <td>{{carDetail.name}}</td>
      <td>{{carDetail.brandName}}</td>
      <td>{{carDetail.colorName}}</td>
      <td>{{carDetail.dailyPrice}}</td>
      <td>{{carDetail.description}}</td>
      <td>{{carDetail.modelYear}}</td>
    </tr>
  </tbody>
  </table>
